/* Place your CSS styles in this file */

h1 {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 600;
    background-color: green;
}

ul {text-align: center;
list-style-type: none;
padding: 0%;
margin:0%;
font-weight: 300;
color: white;
   }

li a {text-decoration: none;
     }
