/* Place your CSS styles in this file */

h1 {
    text-align: left;
    font-size: 900;
    background-colorr: green;
    font-weight: normal;
}


ul {text-align: center;
list-style-type: none;
padding: 0%;
margin:0%;
font-weight: 300;
color: white;
   }

li a {text-decoration: none;
      color: white
     }

body {background-color: black;
     }
