/* Place your CSS styles in this file */

h1 {
    text-align: left;
}
    
.libre-baskerville-<uniquifier> {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


ul {text-align: center;
list-style-type: none;
padding: 0%;
margin:0%;
font-weight: 300;
color: white;
   }

li a {text-decoration: none;
      color: white
     }

body {background-color: black;
     }
